<!-- just type and hit enter-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> example view</h1>
    <h2>  url 'SecondApp:variable'  is for a url on SecondApp 
        <br> if u have a url on the project level like any home page and u have view for that on the project level
        <br> u can reference that by just variable without the appname</h2>
    <a href="{% url 'SecondApp:variable' %}"> click here to goto Variable.html</a>
</body>
</html>