{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--- i pasted below bootstrap links as we have  class = form-control in the end -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'FirstApp/custom.css' %}"?


</head>
<body>
    <h1> Review form</h1>
   
    <div class='container myform'>
    <form method="POST">
         {% csrf_token %}
       
        {% for field in form %}
        <!--<div class='form-control'> 
            {{field.label_tag}}{{field}}
        </div>
        -->
        <div class='mb-3'>
            {{field.label_tag}}
        </div>
        {{field}}
        {% endfor %}


        <input type="submit">
    </form>
    </div>

</body>
</html>