{% extends "base.html"%}
{%block content%}
    <div class='container'>


        <h1>Delete.html</h1>
           <form action="" method='POST'>
            {% csrf_token %}
            <!-- csrf token is needed without it if u hit submit button u will get the error
            with the details saying it should be there-->
            <!-- name is for key - value pair
            id is to match with label-->
    
            <div class="form-group">
                <!-- div class if from bootstrap-->
                <label for="pk">Primary key number:</label>
                <input class= "form-control"  type="pk" id="pk" name="pk">
            </div>
           
            <input class="btn btn-primary" type="submit">
           </form>
        
        </div>

{%endblock%}