<!-- 1. check for form.errors
2. user is logged in but no access
3. user not logged in 
4. form login -->
{% if form.errors %}
    <!-- this means form object is passed back by django -->
    <p>Your username or password was incorrect. Try again.</p>
{% endif %}

{% if next %} <!-- if user is logged in but no access  or not logged in then Django sends a string query called next  which means goto next page-->
<!-- # if u hit http://127.0.0.1:8080/FirstApp/my_view it redirects to
# # http://127.0.0.1:8080/accounts/login/?next=/FirstApp/my_view/ 
with next parameter in the url-->
    {% if user.is_authenticated %}
        <p>You dont have permission for this page</p>

    {% else %}
        <p>Please login to see this page</p>
    {% endif %}
{% endif %}

<form method='post' action="{% url 'login' %}">
{% csrf_token %}
<!-- the below form object is sent bu Django 
-->
{{form.username.label_tag}}
{{form.username}}

{{form.password.label_tag}}
{{form.password}}
<input type="submit" value='login'>
<input type="hidden" name='next' value="{{next}}">
 
</form> 