<!-- doc is not working as we have enable DJango extension-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1> this is able the block in base.html for navigation section</h1>
    <p> we can name the block anything like block abcd it need not be content</p>
    <p> at this moment u cannot display base.html from project level 
        <br>as u do not have any view associated with it
    <br> so u cannot experiment to see what happens if u write something inside block content in base.html</p>
    {% block content%}

    {% endblock %}

    <h1> this is below the block in base.html for about, contact us</h1>

</body>

</html>