<!-- doc is not working as we have enable DJango extension-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


<h1>My custom 404 pagee this can be viewed with settings.py  debug=False and
    allowed_hosts=['127.0.0.1']
    and hitting http://127.0.0.1:8000/secondapp/abcd like abcd is anything u can give 
</h1>
</body>
    </html>